*{
    box-sizing: border-box;
    justify-content: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding-top: 60px;
}

.col{
    text-align: center;
    width: 280px;
    box-shadow: 0 0 10px #463636;
    margin: 10px;
}

.heading{
    text-align: center;
    padding-top: 40px;
}

.btn{
    width: 180px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
} 

.p{
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}
